.card-news{
    background: #fff;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 5px;
    padding: 10px;

}

.card-news-top{
    background: #fff;
    display: inline-block;
    border-right: 1px groove;
    margin-bottom: 5px;
    padding: 10px;

}

.top-news{
    background: #fff;
    display: inline-block;
    border-bottom: 1px groove;

}

.loadmore {
    text-align: center;
    margin-top: 12px;
    height: 32px;
    line-height: 32px;
  }
